*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(220, 214, 220);
}
body::-webkit-scrollbar{
    display: none;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
.project-name{
    margin: 0 20px;
    font-size: 25px;
    font-weight: bolder;
}
.title-saved-solutions{
    font-size: 25px;
    background-color: #000;
    padding: 25px;
    border-radius: 23px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: wheat;
}
.main-Problem{
    margin: 50px;
}
.problem-With-Select{
    display: flex;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hd-1{
    margin: 20px 0 0 20px;
    font-style: normal;
    font-weight: 900 bolder;
}
.heading input{
    height: 75px;
    width: 450px;
    border-radius: 25px;
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border: none;
    color: #000;
}
#mathsCategory{
    height: 75px;
    width: 300px;
    margin: 0 0 0 10px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(16, 16, 16);
    color: #faf8f8;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.btn{
    height: 80px;
    width: 120px;
    margin: 50px 0 0 30px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
}

.searchBtn button{
    height: 80px;
    width: 80px;
    border: none;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(155, 149, 149);
}
.searchBtn i{
    font-size: 50px;
    cursor: pointer;
}
#result{
    background-color:rgb(220, 214, 220);
    height: 160px;
    display: flex;
    flex-direction: column;
}
.completeResult{
    position: relative;
    margin: 10px 0 0 50px;
    padding: 20px;
    background-color: rgb(249, 246, 246);
    border-radius: 20px;
    height: 160px;
    width: 90%;
}
.selected-operation{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.selected-operation::first-letter{
    text-transform: uppercase;
}
.find-result{
    padding: 40px;
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.trase{
    position: absolute;
    right: 5%;
    bottom: 12%;
    font-size: 50px;
    cursor: pointer;
}
.trase:hover{
    color: red;
}

@media (max-width: 425px) {
    body{
        width: 320px;
    }
    header{
        width: 320px;
    }
    .container{
        margin: 50px 10px 50px 10px;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }

    .project-name{
        width: 20px;
        margin: 0;
        font-size: 10px;
        font-weight: bolder;
    }
    .title-saved-solutions{
        font-size: 10px;
        background-color: #000;
        padding: 10px;
        border-radius: 10px;
    }
    .main-Problem{
        margin: 50px 10px 50px 10px;
    }
    .problem-With-Select{
        font-size: 10px;
        margin: 4px;
    }
    .heading input{
        margin: 5px 5px 0 0;
        height: 40px;
        width: 110px;
        font-size: 12px;
        border-radius: 10px;
    }
    .hd-1{
        width: 100px;
        margin: 20px 0 0 5px;
        font-size: 10px;
    }
    #mathsCategory{
        margin: 5px 0 0 5px;
        height: 40px;
        width: 100px;
        font-size: 13px;
        border-radius: 10px;
    }
    .btn{
        height: 20px;
        width: 30px;
    }
    .searchBtn button{
        height: 40px;
        width: 40px;
    }
    .searchBtn i{
        font-size: 20px;
    }
    #result{
        height: 160px;
        width: 325px;
    }
}


